@if(isTrending) {
<div class="trending-card">
  <div class="overlay">
    <button class="play-btn">
      <svg width="30" height="30" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M15 0C6.713 0 0 6.713 0 15c0 8.288 6.713 15 15 15 8.288 0 15-6.712 15-15 0-8.287-6.712-15-15-15Zm-3 21V8l9 6.5-9 6.5Z"
          fill="#FFF"
        />
      </svg>

      <span>Play</span>
    </button>
  </div>
  <button
    (click)="onBookmarkClick()"
    class="bookmark-btn"
    [class]="{ isBookmarked: media.isBookmarked }"
  >
    <svg width="12" height="14" xmlns="http://www.w3.org/2000/svg">
      <path
        d="m10.518.75.399 12.214-5.084-4.24-4.535 4.426L.75 1.036l9.768-.285Z"
        stroke="#FFF"
        stroke-width="1.5"
        fill="none"
      />
    </svg>
  </button>
  <img [src]="media.thumbnail.trending.large" alt="trending-image" />

  <div class="card-body">
    <div class="detail">
      <div class="year-and-category">
        <span>{{ media.year }}</span> •
        <span class="category"
          ><img
            src="{{
              media.category === 'Movie'
                ? 'assets/icon-category-movie.svg'
                : 'assets/icon-category-tv.svg'
            }}"
            alt=""
          />{{ media.category }}</span
        >
        •
        <span>{{ media.rating }}</span>
      </div>

      <h3>{{ media.title }}</h3>
    </div>
  </div>
</div>
} @else {
<div class="regular-card">
  <div class="card-img">
    <div class="overlay">
      <button class="play-btn">
        <svg width="30" height="30" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M15 0C6.713 0 0 6.713 0 15c0 8.288 6.713 15 15 15 8.288 0 15-6.712 15-15 0-8.287-6.712-15-15-15Zm-3 21V8l9 6.5-9 6.5Z"
            fill="#FFF"
          />
        </svg>

        <span>Play</span>
      </button>
    </div>
    <img [src]="media.thumbnail.regular.large" alt="regular-image" />
  </div>

  <button
    (click)="onBookmarkClick()"
    class="bookmark-btn"
    [class]="{ isBookmarked: media.isBookmarked }"
  >
    <svg width="12" height="14" xmlns="http://www.w3.org/2000/svg">
      <path
        d="m10.518.75.399 12.214-5.084-4.24-4.535 4.426L.75 1.036l9.768-.285Z"
        stroke="#FFF"
        stroke-width="1.5"
        fill="none"
      />
    </svg>
  </button>

  <div class="card-body">
    <div class="detail">
      <div class="year-and-category">
        <span>{{ media.year }}</span
        >•
        <span class="category"
          ><img
            src="{{
              media.category === 'Movie'
                ? 'assets/icon-category-movie.svg'
                : 'assets/icon-category-tv.svg'
            }}"
            alt=""
          />{{ media.category }}</span
        >•
        <span>{{ media.rating }}</span>
      </div>

      <h3>{{ media.title }}</h3>
    </div>
  </div>
</div>
}
