<div class="signup-wrapper">
    <div class="img-container">
        <img src="../../../assets/logo.svg" alt="">
    </div>
    <form action="">
        <h3 class="heading-m">
            Sign Up
        </h3>
        <div>
            <input type="text" name="email" id="email" placeholder="Email address">
            <input type="password" name="" id="password" placeholder="Password">
            <input type="repeat-password" name="" id="repeat-password" placeholder="Repeat password">
        </div>
        <button class="button primary">Create an account</button>
        <p class="align-center-light">Already have an account? <a href="#" class="accent-cl">Login</a></p>
    </form>
  
</div>