@import'../../../styles/mixins';
@import '../../../styles/variables';


.content {
    @include flex-column;
    padding: 20px;
    input {
        border: none;
        outline: none
    }
    
}
.search {
    @include flex-row;  
    gap: 12px;
    img {
        width: 24px;
        height: 24px;
    }

}