@import'../../../styles/mixins';
@import '../../../styles/variables';
@import '../../../styles/heading';

.content {
    @include flex-column;
    font-size: $font-size-s;
    img {
        margin-bottom: 8px;
        border-radius: 8px;
    }
    padding: 16px;
    input {
        border: none;
        outline: none
    }
  
    
}
.search {
    @include flex-row;  
    gap: 12px;
    margin-bottom: 20px;
    img {
        width: 24px;
        height: 24px;
    }

}
.trending-items {
    @include flex-row;
    overflow-x: auto;
    gap: 12px;
    margin: 1.5rem 0;
    
    // Hide scrollbar for Chrome, Safari and Opera
    &::-webkit-scrollbar {
      display: none;
    }
    
    // Hide scrollbar for IE, Edge and Firefox
    -ms-overflow-style: none;  // IE and Edge
    scrollbar-width: none;  // Firefox
    
    .trending-item {
      flex-shrink: 0;
      width: 240px;
      img {
        width: 100%;
        height: auto;
      }
    }
  }

.recommended-items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 15px;
    margin: 1.5rem 0;
    .recommended-item {
        flex-basis: 47%;
    }
    img {
        border-radius: 8px;
        width: 100%;
        height: auto;
    }
}
