@import '../../src/styles/variables';



.button {
    padding: 10px 20px;
    height: 48px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    border-radius: 6px;
    width: 100%;
    outline: none;
    
  
    &.primary {
      background-color: $accent;
      color: white;
    }
  
    &.secondary {
      background-color: $secondary-color;
      color: white;
    }
  
    &:hover {
      opacity: 0.9;
    }
    
  }
  