//Colors


//Primary Colors
$primary-color: #10141E;
$primary-dark-alt: #161D2F;


// Secondary Colors
$secondary-color: #5A698F;


// Tertiary Colors
$grey: #979797;

// Accent Colors
$accent: #FC4747;
$white: #FFFFFF;

// Font

$font-size-s: 13px;

$font-size-m: 15px;


$font-size-l: 18px