<div class="signin-wrapper">
    <div class="img-container">
        <img src="../../../assets/logo.svg" alt="">
    </div>
    <form action="">
        <h3 class="heading-m">
            Login
        </h3>
        <div>
            <input type="text" name="email" id="email" placeholder="Email address">
            <input type="password" name="" id="password" placeholder="Password">
        </div>
        <button (click)="navigateToHomepage()" class="button primary">Login to your account</button>
        <p class="align-center-light">Don't have an account? <a (click)="navigateToSignUp()" class="accent-cl">Sign Up</a></p>
    </form>
  
</div>