<section class="category">
  <section class="content">
    <app-search-bar />
    @if(mediaLoading$ | async; as mediaLoading) {
    <div class="loading-container">
      <div class="loader2"></div>
    </div>
    } @else { @if(filteredMediaItems$ | async; as filteredMediaItems) {
    <div class="media-list">
      <h1 class="category-title">{{ category }}</h1>
      <div class="media-list custom-grid">
        @for(media of filteredMediaItems; track media) {
        <app-card [media]="media" />
        }
      </div>
    </div>

    } }
  </section>
</section>
